nav a {
    text-decoration: none;
    color: pink;
    transition: 0.5s;
}

nav a:hover {
    color: blueviolet;
    background-color: aqua;
    font-weight: 500;
    
}
div{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    float: left;
}

#div2{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    clear: both;
}

#div2:hover{
    transition: 1s;
    transform: scale(1.2);
}